#News-banner {
  height: 500px;
}
#News-banner .banner-part {
  min-height: 500px;
  position: relative;
  background-image: url(/assets/images/blog/img_07.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}
#News-banner .banner-part .overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust alpha to control darkness */
}
#News-banner .banner-part .banner-content {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#News-banner .banner-part .banner-content h3 {
  color: #cc9933;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}
#News-banner .banner-part .banner-content h1 {
  margin: 80px 0px 30px 0px;
  font-size: 128px;
  line-height: 86px;
  font-weight: 400;
  text-align: center;
  color: white;
}
#News-banner .banner-part .banner-content .white {
  color: #FFF;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: center;
}
#News-banner .banner-part .banner-content .yellow {
  color: #cc9933;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 2px;
  text-align: center;
}

#News {
  padding: 100px 0px;
  background-color: #efefef;
}
#News .container .row .left-part {
  padding-right: 20px;
  padding-left: 20px;
}
#News .container .row .left-part .all-news {
  overflow-y: auto;
  height: 3310.01px;
  margin-left: -20px;
  margin-right: -20px;
}
#News .container .row .left-part .all-news .article {
  float: left;
  padding-bottom: 20px;
  border-bottom: 2px solid #dfe1dc;
  margin-bottom: 35px;
  text-align: center;
}
#News .container .row .left-part .all-news .article .article-header {
  margin-bottom: 25px;
}
#News .container .row .left-part .all-news .article .article-header h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.3em;
}
#News .container .row .left-part .all-news .article .article-header h2 a {
  color: #000;
  text-decoration: none;
}
#News .container .row .left-part .all-news .article .article-header .header-bottom {
  font-size: 10px;
  margin-bottom: 2.5em;
  letter-spacing: 1px;
  color: #999999;
}
#News .container .row .left-part .all-news .article .article-header .header-bottom p {
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 10px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
#News .container .row .left-part .all-news .article .article-header .header-bottom p a {
  color: #000;
  text-decoration: none;
}
#News .container .row .left-part .all-news .article .article-img {
  margin-bottom: 25px;
}
#News .container .row .left-part .all-news .article .article-img img {
  display: block;
  max-width: 100%;
  height: auto;
}
#News .container .row .left-part .all-news .article .article-content {
  font-size: 14px;
  margin-bottom: 30px;
}
#News .container .row .left-part .all-news .article .article-content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #333;
  margin-bottom: 10px;
}
#News .container .row .right-part {
  padding-right: 20px;
  padding-left: 20px;
}
#News .container .row .right-part .categories-part {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  background-color: #cc9933;
  padding: 20px;
  text-align: center;
}
#News .container .row .right-part .categories-part h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  margin-top: 22px;
}
#News .container .row .right-part .categories-part ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#News .container .row .right-part .categories-part ul li a {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}
#News .container .row .right-part .kallyas-part {
  margin-bottom: 50px;
  background-color: #ffffff;
  padding: 20px;
}
#News .container .row .right-part .kallyas-part img {
  width: 100%;
  height: auto;
}
#News .container .row .right-part .follow-part {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
#News .container .row .right-part .follow-part h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  margin-top: 22px;
}
#News .container .row .right-part .follow-part ul {
  margin-bottom: 20px !important;
  display: block;
  margin: 0;
  padding: 0;
}
#News .container .row .right-part .follow-part ul li {
  display: inline-block;
  margin: 0 10px;
}
#News .container .row .right-part .follow-part ul li a {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}
#News .container .row .right-part .newsletter {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
}
#News .container .row .right-part .newsletter h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  margin-top: 22px;
}
#News .container .row .right-part .newsletter .dn-widgetNewsletter-intro {
  margin-bottom: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.4;
}
#News .container .row .right-part .newsletter form .dn-widgetNewsletter-email {
  background-color: #fff;
  border: 0;
  display: block;
  width: 100%;
  height: 38px;
  padding: 7px 14px;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 45px;
  color: #555;
  border-radius: 0;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#News .container .row .right-part .newsletter form .btn-default {
  border: 2px solid currentColor;
  letter-spacing: 1px;
  border-radius: 1px;
  background-color: transparent;
  color: #cc9933;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  padding: 14px 25px;
  white-space: initial;
  transition: all 0.2s ease-out;
}
#News .container .row .right-part .featured {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center !important;
}
#News .container .row .right-part .featured h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 22px;
}
#News .container .row .right-part .featured ul {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
#News .container .row .right-part .featured ul li {
  padding-top: 35px;
  margin-bottom: 25px;
  list-style: none;
}
#News .container .row .right-part .featured ul li .circle {
  margin-left: 50%;
  transform: translate(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  line-height: 24px;
  box-sizing: border-box;
}
#News .container .row .right-part .featured ul li .top {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  line-height: 1.3;
  text-decoration: none;
}
#News .container .row .right-part .featured ul li p {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
  display: block;
}
#News .container .row .right-part .featured ul li p a {
  color: #000;
  text-decoration: none;
}

#News-detail {
  padding: 10px 0px;
  background-color: #efefef;
}
#News-detail .container {
  width: 100%;
}
#News-detail .container .nav-part {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
}
#News-detail .container .nav-part ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}
#News-detail .container .nav-part ul li {
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
}
#News-detail .container .nav-part ul li a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
#News-detail .container .row {
  position: relative;
  padding: 50px 0px;
}
#News-detail .container .row .left-part {
  background-color: #ffffff;
  margin-top: -118px;
  border: 1px solid #e0dfdf;
  padding: 36px 50px 70px 50px;
}
#News-detail .container .row .left-part .detial-header {
  padding-bottom: 20px;
}
#News-detail .container .row .left-part .detial-header h2 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 0 0 20px 0;
  font-weight: 600;
}
#News-detail .container .row .left-part .detial-header .detail-meta p {
  font-size: 10px;
  line-height: 10px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
#News-detail .container .row .left-part .detial-header .detail-meta p a {
  color: #666666;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
#News-detail .container .row .left-part .detail-img {
  margin-bottom: 25px;
}
#News-detail .container .row .left-part .detail-img a img {
  display: block;
  max-width: 100%;
  height: auto;
}
#News-detail .container .row .left-part .detail-content p {
  font-size: 14px;
  margin-bottom: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 31px;
}
#News-detail .container .row .left-part .detail-navigation {
  border-bottom: 2px solid #d9d9d9;
  border-top: 2px solid #d9d9d9;
  margin-top: -20px;
  margin-bottom: 30px;
  display: flex;
}
#News-detail .container .row .left-part .detail-navigation .nav-prev {
  text-align: left;
  width: 50%;
}
#News-detail .container .row .left-part .detail-navigation .nav-prev a {
  padding: 40px 0 35px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}
#News-detail .container .row .left-part .detail-navigation .nav-prev a .nav-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  color: #666666;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  transition: 0.5s;
  text-transform: uppercase;
}
#News-detail .container .row .left-part .detail-navigation .nav-prev a .nav-detail {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  line-height: 26px;
}
#News-detail .container .row .left-part .detail-navigation .nav-prev a .nav-detail:hover {
  color: #cc9933;
}
#News-detail .container .row .left-part .detail-navigation .nav-next {
  text-align: right;
  border-left: 2px solid #d9d9d9;
  width: 50%;
}
#News-detail .container .row .left-part .detail-navigation .nav-next a {
  padding: 40px 0 35px;
  padding-right: 10px;
  display: block;
  text-decoration: none;
}
#News-detail .container .row .left-part .detail-navigation .nav-next a .nav-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  color: #666666;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
}
#News-detail .container .row .left-part .detail-navigation .nav-next a .nav-detail {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  line-height: 26px;
}
#News-detail .container .row .left-part .detail-navigation .nav-next a .nav-detail:hover {
  color: #cc9933;
}
#News-detail .container .row .left-part .detail-author {
  padding-bottom: 25px;
  border-bottom: 2px solid #dfe1dc;
  margin-bottom: 35px;
}
#News-detail .container .row .left-part .detail-author .row {
  padding: 0px;
  margin-left: -25px;
  margin-right: -25px;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-2 {
  width: 16.66666667%;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-2 img {
  display: block;
  max-width: 100%;
  height: auto;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-8 {
  width: 66.66666667%;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-8 h5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-8 a {
  font-size: 12px;
  line-height: 12px;
  color: #333;
  font-style: italic;
  text-decoration: none;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-8 p {
  font-size: 12px;
  line-height: 24px;
  color: #333;
  margin-bottom: 10px;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-8 ul {
  display: block;
  margin: 0;
  padding: 0;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-8 ul li {
  margin-right: 35px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  display: inline-block;
  float: left;
}
#News-detail .container .row .left-part .detail-author .row .col-lg-8 ul li a {
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
}
#News-detail .container .row .left-part .comment-part {
  padding: 28px 0;
}
#News-detail .container .row .left-part .comment-part h5 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 44px 0;
  margin: 0 0 44px 0;
  font-weight: 700;
}
#News-detail .container .row .left-part .comment-part form .form-group {
  margin: 0 0 45px;
}
#News-detail .container .row .left-part .comment-part form .form-group label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
#News-detail .container .row .left-part .comment-part form .form-group textarea {
  height: auto;
  resize: vertical;
  border: 2px solid #dfe1dc;
  box-shadow: none;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  padding: 20px;
  background-color: #efefef;
}
#News-detail .container .row .left-part .comment-part form button {
  background-color: #cc9933;
  border: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 57px 16px 57px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none !important;
  border-radius: 0;
  -webkit-border-radius: 0;
}
#News-detail .container .row .right-part {
  padding-right: 20px;
  padding-left: 20px;
}
#News-detail .container .row .right-part .categories-part {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  background-color: #cc9933;
  padding: 20px;
  text-align: center;
}
#News-detail .container .row .right-part .categories-part h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  margin-top: 22px;
}
#News-detail .container .row .right-part .categories-part ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#News-detail .container .row .right-part .categories-part ul li a {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}
#News-detail .container .row .right-part .kallyas-part {
  margin-bottom: 50px;
  background-color: #ffffff;
  padding: 20px;
}
#News-detail .container .row .right-part .kallyas-part img {
  width: 100%;
  height: auto;
}
#News-detail .container .row .right-part .follow-part {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
#News-detail .container .row .right-part .follow-part h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  margin-top: 22px;
}
#News-detail .container .row .right-part .follow-part ul {
  margin-bottom: 20px !important;
  display: block;
  margin: 0;
  padding: 0;
}
#News-detail .container .row .right-part .follow-part ul li {
  display: inline-block;
  margin: 0 10px;
}
#News-detail .container .row .right-part .follow-part ul li a {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}
#News-detail .container .row .right-part .newsletter {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
}
#News-detail .container .row .right-part .newsletter h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  margin-top: 22px;
}
#News-detail .container .row .right-part .newsletter .dn-widgetNewsletter-intro {
  margin-bottom: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.4;
}
#News-detail .container .row .right-part .newsletter form .dn-widgetNewsletter-email {
  background-color: #fff;
  border: 0;
  display: block;
  width: 100%;
  height: 38px;
  padding: 7px 14px;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 45px;
  color: #555;
  border-radius: 0;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#News-detail .container .row .right-part .newsletter form .btn-default {
  border: 2px solid currentColor;
  letter-spacing: 1px;
  border-radius: 1px;
  background-color: transparent;
  color: #cc9933;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  padding: 14px 25px;
  white-space: initial;
  transition: all 0.2s ease-out;
}
#News-detail .container .row .right-part .featured {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center !important;
}
#News-detail .container .row .right-part .featured h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 22px;
}
#News-detail .container .row .right-part .featured ul {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
#News-detail .container .row .right-part .featured ul li {
  padding-top: 35px;
  margin-bottom: 25px;
  list-style: none;
}
#News-detail .container .row .right-part .featured ul li .circle {
  margin-left: 50%;
  transform: translate(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  line-height: 24px;
  box-sizing: border-box;
}
#News-detail .container .row .right-part .featured ul li .top {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  line-height: 1.3;
  text-decoration: none;
}
#News-detail .container .row .right-part .featured ul li p {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
  display: block;
}
#News-detail .container .row .right-part .featured ul li p a {
  color: #000;
  text-decoration: none;
}/*# sourceMappingURL=blog.css.map */