header .container {
  max-width: 100%;
}
header .container .header-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  padding: 50px 15px 20px 15px;
}
header .container .header-home .header-left .header-logo a {
  font-size: 24px;
  line-height: 1.2;
  display: block;
  color: inherit;
}
header .container .header-home .header-center {
  width: 45%;
}
header .container .header-home .header-center nav ul {
  display: flex;
  margin: 0px !important;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
header .container .header-home .header-center nav ul li a {
  text-decoration: none;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
header .container .header-home .header-right .header-cart {
  display: flex;
}
header .container .header-home .header-right .header-cart .headercartbtn {
  margin-right: 10px;
  display: flex;
  height: 50px;
  background-color: #1a1c20;
  justify-content: center;
  padding-right: 30px;
  color: #666;
  text-decoration: none;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-icon {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  width: 50px;
  height: 100%;
  margin-right: 10px;
  padding: 0;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-icon i {
  cursor: pointer;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3);
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-block {
  text-align: center;
  width: 50px;
  padding: 10px 0;
  height: 100%;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-block .cart-btn-item-title {
  color: #999;
  display: block;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 8px;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-block .cart-btn-item-count {
  font-size: 11px;
  line-height: 1;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #fff;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-total {
  display: flex;
  text-align: center;
  width: 50px;
  padding: 10px 0;
  height: 100%;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-total .cart-btn-total-title {
  color: #999;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-total .cart-btn-total-count {
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
  color: #cc9933;
}
header .container .header-home .header-right .header-cart .headercartbtn .cart-btn-total .cart-right i {
  font-size: 11px;
  margin-left: 10px;
}
header .container .header-home .header-right .header-cart .btn-default {
  font-family: "Poppins", sans-serif;
  background-color: #cc9933;
  border: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 57px 16px 57px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none !important;
}

footer #Subscribe {
  background-color: #16191e;
  padding: 120px 0;
  text-align: center;
}
footer #Subscribe .container {
  width: 1400px;
}
footer #Subscribe .container .row {
  margin-right: -20px;
  margin-left: -20px;
}
footer #Subscribe .container .row .section-title {
  position: relative;
}
footer #Subscribe .container .row .section-title .discount {
  display: block;
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(0, -50%);
  border-radius: 50%;
  height: 52px;
  width: 52px;
  text-align: center;
  background-color: #cc9933;
  padding: 6px 0;
}
footer #Subscribe .container .row .section-title h2 {
  font-size: 56px;
  color: #999966;
  line-height: 56px;
  margin: 0;
  font-family: "Great Vibes", cursive;
  color: #999966;
}
footer #Subscribe .container .row .section-title h3 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
footer #Subscribe .container .row h5 {
  font-size: 20px;
  line-height: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #fefefe;
  letter-spacing: 2px;
  margin: 0 0 22px;
  letter-spacing: 0;
}
footer #Subscribe .container .row form {
  text-align: center;
  padding: 0 30%;
}
footer #Subscribe .container .row form input {
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 50px;
  font-size: 10px;
  line-height: 10px;
  color: #999999;
}
footer #Subscribe .container .row form .btn-default {
  background-color: #cc9933;
  border: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 57px 16px 57px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none !important;
  border-radius: 0;
}
footer #Subscribe .container .row form .btn-default button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  background: #cc9933;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  font-size: 14px;
  line-height: 14px;
}
footer #Footer-main {
  background-color: #0b0d0f;
  font-weight: 600;
  padding-top: 120px;
}
footer #Footer-main .container {
  width: 1400px;
}
footer #Footer-main .container .footer-top {
  padding: 0 0 50px;
}
footer #Footer-main .container .footer-top .row .head-chef p {
  font-size: 12px;
  line-height: 22px;
  color: #999999;
  text-align: right;
}
footer #Footer-main .container .footer-top .row .f-nav {
  padding: 0 35px;
}
footer #Footer-main .container .footer-top .row .f-nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer #Footer-main .container .footer-top .row .f-nav ul li {
  padding: 0 0 20px;
  margin: 0;
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
footer #Footer-main .container .footer-top .row .f-nav ul li a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}
footer #Footer-main .container .footer-top .row .f-social-follower {
  text-align: center;
}
footer #Footer-main .container .footer-top .row .f-social-follower .btn-default {
  border: 2px solid #cc9933;
  background: none;
  color: #cc9933;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 57px 16px 57px;
  font-weight: 600;
  border-radius: 0px;
}
footer #Footer-main .container .footer-top .row .f-social-follower .f-follower {
  padding: 48px 0 0;
}
footer #Footer-main .container .footer-top .row .f-social-follower .f-follower h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  text-transform: uppercase;
  margin: 0 0 25px;
}
footer #Footer-main .container .footer-top .row .f-social-follower .f-follower ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer #Footer-main .container .footer-top .row .f-social-follower .f-follower ul li {
  display: inline-block;
  padding: 0 25px;
  font-size: 18px;
  line-height: 18px;
}
footer #Footer-main .container .footer-top .row .f-social-follower .f-follower ul li i {
  color: #b6b7b7 !important;
}
footer #Footer-main .container .footer-top .row .f-address-contact p {
  text-align: left;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 10px;
  line-height: 10px;
  margin: 0 0 17px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #cc9933;
  margin: 0 0 15px;
  display: block;
}
footer #Footer-main .container .footer-top .row .f-address-contact span {
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 10px;
  line-height: 10px;
  margin: 0 0 17px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #fff;
  display: block;
}
footer #Footer-main .container .footer-top .row .f-address-contact .f-address {
  padding: 13px 0 0;
}
footer #Footer-main .container .footer-top .row .f-address-contact .f-address ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer #Footer-main .container .footer-top .row .f-address-contact .f-address ul li {
  margin: 0;
  padding: 0 0 10px;
  list-style-type: none;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}
footer #Footer-main .container .footer-bottom {
  text-align: center;
  padding-bottom: 40px;
}
footer #Footer-main .container .footer-bottom p {
  font-size: 10px;
  line-height: 10px;
  color: #666666;
  margin: 0 0 12px;
}
footer #Footer-main .container .footer-bottom p a {
  color: #999999;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
}
footer #Footer-main .container .footer-bottom ul {
  display: block;
  margin: 0;
  padding: 0 0 0 2px;
  list-style-type: none;
}
footer #Footer-main .container .footer-bottom ul li {
  display: inline-block;
  margin: 0;
  padding: 0 4px 0 0;
  list-style-type: none;
  border-right: 1px solid #666666;
  font-size: 10px;
  line-height: 10px;
  color: #666666;
}
footer #Footer-main .container .footer-bottom ul li a {
  color: #999999;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
}

@media (max-width: 576px) {
  header .header-center {
    display: none;
  }
  header .header-right {
    display: none;
  }
  footer #Subscribe {
    padding: 120px 30px;
  }
  footer #Subscribe .container {
    width: 100%;
  }
  footer #Subscribe .container .row .section-title .discount {
    left: 45%;
    top: -55px;
  }
  footer #Subscribe .container .row .section-title h2 {
    font-size: 40px;
    line-height: 42px;
  }
  footer #Subscribe .container .row .section-title h3 {
    text-align: center;
    font-size: 30px;
  }
  footer #Subscribe .container .row h5 {
    font-size: 20px;
  }
  footer #Subscribe .container .row form {
    padding: 0;
  }
  footer #Footer-main .container {
    width: 100%;
  }
  footer #Footer-main .container .footer-top .row .head-chef p {
    text-align: center;
  }
  footer #Footer-main .container .footer-top .row .f-nav {
    text-align: center;
  }
  footer #Footer-main .container .footer-top .row .f-address-contact {
    text-align: center;
    margin-top: 30px;
  }
  footer #Footer-main .container .footer-top .row .f-address-contact p {
    text-align: center !important;
  }
}/*# sourceMappingURL=common.css.map */